.jumbotron {
  background-color: red;
  margin-top: 10px;
}

.jumbotron > h1 {
  font-family: 'Wallpoet', cursive;
 
}

#newburger {
  border-radius: 5px;
}

#color-override {
  color:yellow;
}

#undevoured {
  background-color: #5cb85c;
  color: white;
  text-align: center;
  font-size: 1.2em;
}

#eatbutton, #trashbutton {
  float: right;
}

#devoured {
  background-color: #f0ad4e;
  color: white;
  text-align: center;
  font-size: 1.2em;
}